<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GymSpeed</title>
  <link rel="stylesheet" href="css/home.css">
  <link rel="icon" type="image/png" href="ressources/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <header>
        <button class="burger-menu">☰</button>
            <nav>
                <div class="navbar">
                    <h1>GYMSpeed</h1>
                        <div class="logo">
                            <img src ="images/logo.png" alt="logoGS">
                        </div>
                        
                        <a href="/">Home</a>
                        <a href="/machines">Machines</a>
                        <a href="/subscriptions">Abonnements</a>
                        <a href="/contact">Contact</a>
                        <a href="/connexion"><button type="submit">CONNEXION</button></a>
                </div>
            </nav>
    </header>

    <main>
        
        <section class="hero">
            <img class="image-haut" src="images/imageFond.png" alt="Person lifting ">
            
              <div class="info">
                <h1>GYMSpeed Paris</h1>
                <p>17 Rue Claude Terrasse, Paris 16ème</p>
                <a href="/register"><button type="submit">INSCRIS-TOI</button></a>
              </div>
              
              <div class="stats">
                <img src="images/365J 1.png" alt="365J/an">
                <img src="images/6H23H 1.png" alt="6h-23h">
                <img src="images/7J7 1.png" alt="7J/7">
              </div>
        </section>
        
        <section class="carousel">
            <button id="prev" type="button">&lt;</button>
            
            <div id="carouselImageWrapper">
                <img id="carouselImage" src="images/salle1.jpg" alt="carousel image">
            </div>
            
            <button id="next" type="button">&gt;</button>
        </section>


        <section>
            
            <div class="contact">
                <div>
                    <h3>Téléphone:</h3>
                    <p>06 52 87 02 90</p>
                    
                    <h3>Email:</h3>
                    <p>Agymspeed@gmail.com</p>
                </div>
            
                <div class="description">
                    <p>Rejoignez la communauté passionnée de fitness chez GymSpeed, où la qualité, l'efficacité et la performance sont au cœur de notre expérience. Que vous soyez débutant ou athlète chevronné, notre salle de musculation répondra à tous vos besoins en fitness.<br><br>
                        Avec 2000 m² d'espaces dédiés, dont cardio-training, musculation guidée et charges libres, 
                        vous pouvez repousser vos limites. Des machines haut de gamme sont à votre disposition en illimité, et nous avons
                        également un espace dédié aux femmes. Commencez votre voyage vers une meilleure santé et une meilleure forme
                        physique avec GymSpeed !<br><br>
                        Renseignez-vous à l'accueil de notre salle pour en savoir plus.</p>
                </div>
             </div>
            
                <div class="presentationvideo">
                    <iframe width="600" height="480" src="https://www.youtube.com/embed/d3aX_Zj1iZU?si=4E8cwsurXsTiatC6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
           
        </section>
        
    </main>

    <footer>
        
        <div class="footer">
          <div class="footer-column">
            <h4>À PROPOS</h4>
                <a href="https://entreprendre.service-public.fr/vosdroits/F33527">CGV</a>
                <a href="https://www.francenum.gouv.fr/guides-et-conseils/developpement-commercial/site-web/rediger-des-conditions-generales-dutilisation">CGU</a>
                <a href="https://cookiefirst.com/fr/generateur-de-politique-de-cookies-pour-votre-site-web/?gad_source=1&gclid=EAIaIQobChMIyPftv4agggMV2S0GAB2dQwXsEAAYAiAAEgKo1vD_BwE">Politique de Confidentialité & Cookies</a>
                <a href="https://entreprendre.service-public.fr/vosdroits/F31228#:~:text=Les%20mentions%20l%C3%A9gales%20sont%20les,ou%20dans%20une%20page%20d%C3%A9di%C3%A9e.">Mentions légales</a>
          </div>
          
          <div class="footer-column">
            <h4>NOS PARTENAIRES</h4>
            <img src="images/Mask group.png" alt="partenaires">
          </div>
          
          <div class="footer-column">
              <h4>REJOIGNEZ-NOUS</h4>
                <div>
                    <a class="facebook" href="https://www.facebook.com"><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a class="instagram" href="https://www.instagram.com"><i class="fa-brands fa-instagram fa-2x"></i></a>
                </div>
          </div>
          
        </div>
    </footer>

<script src="./javascript/home.js"></script>
  
</body>
</html>
