<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Machines GS</title>
  <link rel="stylesheet" href="css/machines.css">
</head>
<body>
   <header>
        <button class="burger-menu">☰</button>
          <nav>
              <div class="navbar">
                  <h1>GYMSpeed</h1>
                      <div class="logo">
                          <img src ="images/logo.png" alt="logoGS">
                      </div>
                      <a href="/">Home</a>
                      <a href="/machines">Machines</a>
                      <a href="/subscriptions">Abonnements</a>
                      <a href="/contact">Contact</a>
                      <a href="/connexion"><button type="submit">CONNEXION</button></a>
              </div>
          </nav>
    </header>
  
    <main>
      <section class="haut">
        <div class="haut-machines">
          <p>Bienvenue sur le site officiel de GymSpeed
          Votre destination ultime pour une expérience de musculation exceptionnelle.
          Notre salle de musculation de renommée mondiale est équipée des dernières machines pour vous aider à atteindre vos objectifs de fitness.</p>
          <img src="images/Mask group.png" alt="partenaires">
        </div>
        
        <div class="haut-image">
          <img src="images/nos machines.jpeg" alt="Image ensemble des machines">
        </div>
      </section>
      
      <h2>Différentes Sections de Machines</h2>
      
          <button class="machineb" type="submit" id="PECTORAUX">PECTORAUX</button>
          <button class="machineb" type="submit" id="DORSAUX">DORSAUX</button>
          <button class="machineb" type="submit" id="JAMBES">JAMBES</button>
       
        
      <section>
        
        <div class="premiere">
          <img class="image-placeholder" src="images/pecincliné.png" alt="Image machine">
          
          <p>La station de musculation est dotée de bras de levier qui permettent de recruter vos pectoraux efficacement. Aussi, les supports de poids permettent de réaliser des entrainements à charge libre avec vos disques de poids personnels. Aussi, cet équipement pour haut du corps est pensé avec un siège ajustable afin de s'adapter à tous les sportifs et à toutes les morphologies. De plus, la station de musculation pour exercices inclinés permet de travailler vos muscles en unilatérale pour ainsi vous focaliser sur votre mouvement.</p>
          <p class="titre">BANC DE MUSCULATION DÉVELOPPÉ INCLINÉ - 400 KG CHARGE MAX</p>
        </div>
        
        <div class="deuxieme">
          <p class="titre2">STATION PROFESSIONNELLE COMPLÈTE POUR PECTORAUX ET DELTOÏDES - COLONNE DE POIDS DE 160 KG</p>
          <p>Cet appareil de musculation est doté d'un siège et d'un dossier réglable sur différentes positions pour réaliser vos séances avec une position et une inclinaison parfaite. Ainsi, lorsque vous réaliserez vos trainings, vous pourrez cibler parfaitement vos pectoraux et vos deltoïdes avec une amplitude de mouvement optimale. Aussi, cet équipement de musculation est conçu avec une colonne de poids de 160 kg pour que vous puissiez réaliser des trainings intensifs. </p>
          
          <img class="image-placeholder"src="images/butterfly.jpg" alt="Image machine">
        </div>
        
        <div class="premiere">
          <img class="image-placeholder" src="images/pechorizontal.png" alt="Image machine">
          
          <p>La machine à pectoraux déclinée convergente BXT52 développée par Frédéric Delavier permet de travailler les pectoraux. Sa trajectoire convergente accrue permet de réduire l’intervention des épaules tout en mettant l’accent sur le faisceau abdominal des pectoraux. la station dispose d'un Bras indépendant, Dossier réglable en profondeur, Assise réglable en hauteur et une Poignée de stabilité pour l’unilatéral</p>
          <p class="titre">PECTORAUX DECLINE CONVERGENT</p>
        </div>
      </section>
      
    </main>
  
    <footer>
        
        <div class="footer">
          <div class="footer-column">
            <h4>À PROPOS</h4>
                <a href="https://entreprendre.service-public.fr/vosdroits/F33527">CGV</a>
                <a href="https://www.francenum.gouv.fr/guides-et-conseils/developpement-commercial/site-web/rediger-des-conditions-generales-dutilisation">CGU</a>
                <a href="https://cookiefirst.com/fr/generateur-de-politique-de-cookies-pour-votre-site-web/?gad_source=1&gclid=EAIaIQobChMIyPftv4agggMV2S0GAB2dQwXsEAAYAiAAEgKo1vD_BwE">Politique de Confidentialité & Cookies</a>
                <a href="https://entreprendre.service-public.fr/vosdroits/F31228#:~:text=Les%20mentions%20l%C3%A9gales%20sont%20les,ou%20dans%20une%20page%20d%C3%A9di%C3%A9e.">Mentions légales</a>
          </div>
          
          <div class="footer-column">
            <h4>NOS PARTENAIRES</h4>
            <img src="images/Mask group.png" alt="partenaires">
          </div>
          
          <div class="footer-column">
            <h4>REJOIGNEZ-NOUS</h4>
                  <a class="facebook" href="https://www.facebook.com"><i class="fa-brands fa-facebook fa-2x"></i></a>
                  <a class="instagram" href="https://www.instagram.com"><i class="fa-brands fa-instagram fa-2x"></i></a>
          </div>
          
        </div>
    </footer>
  
<script src="./javascript/home.js"></script>

</body>
</html>
