body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
  

.titre {
  text-align: center;
  border: 5px solid red; 
  padding: 15px;
  background-color: black;
  color: white;
}


table {
  width: 100%;
  margin: auto; 
  border-collapse: collapse;
}

th:first-child {
  width: 50%;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid red;
  font-weight: bold;
}


.action-buttons {
  display: flex;
  justify-content: center; 
}

button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px; 
  font-weight: bold;
}

button:hover {
  background-color: white;
  color: black;
}

footer {
  text-align: center;
}

@media screen and (max-width: 480px) {
body {
    font-size: 14px; 
}

.titre {
    padding: 10px; 
    font-size: 16px;
    width: 90%;
    margin: 10px auto; 
}

table {
    display: block;
    overflow-x: auto;
}

th, td {
    padding: 5px;
    font-size: 12px; 
}

.action-buttons {
    flex-direction: column; 
}

button {
    padding: 8px 15px;
    font-size: 12px;
}

footer {
    padding: 10px;
}
}
