@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

// Définition des variables
$primary-color: #007bff;
$background-color: #f0f0f0;
$form-background: #fff;
$text-color: #333;

